<div class="card">
  <p>{{task.updatedAt | date:'yyyy-MM-dd HH:mm:ss' }}</p>
  <form [formGroup]="form">
    <fieldset [disabled]="editMode ? 'disabled': null ">
      <input formControlName="description" [(ngModel)]="task.description" [class.completed]="task.completed"/>
      <select formControlName="priority" [(ngModel)]="task.priority">
        <option value="low">low</option>
        <option value="middle">middle</option>
        <option value="high">high</option>
      </select>
      <button [hidden]="editMode ? 'hidden' : null" (click)="save()" [disabled]="submittedSave || form.invalid
                  || (form.get('description').pristine&&form.get('priority').pristine)">Save</button>
      <button [hidden]="editMode ? 'hidden' : null" (click)="reset()">Reset</button>
    </fieldset>
    <button type="button" (click)="editTaskForm()" [disabled]="submitted">Edit</button>
    <button type="button" (click)="completed()" [disabled]="submitted">Done</button>
    <button type="button" (click)="remove()" [disabled]="submitted">Remove</button>
  </form>
</div>

